[halite]
pidfile 		= /halite_dir/var/halite.pid
commandfile 	= /halite_dir/var/halite.command
media_root 		= /halite_dir/HaliteMedia

[logging]
logfile			= /halite_dir/var/halite.log

[spotify]
username		= aspotifyusername
password		= aspotifypassword

[youtube]
youtubedl_path	= /halite_dir/youtube-dl.py

[listenercounter]
countfile		= /halite_dir/var/listener_count
